.article{
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 5px rgb(155, 155, 155);
    border-radius: 10px;
    width: 100%;
    font-family: "google sans code";
    padding: 10px;
    box-sizing: border-box;
}

.article:hover {
    transform:  translateY(-2px);
    cursor: pointer;
}

.article h3{
    font-weight: 900;
    align-self: center;
}

.img{
    margin: auto;
}

