.hero {
    width: 100%;
    overflow: hidden;
    background: var(--background--header);
    margin: 0 auto;
}

.heroText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "google sans code";
    font-size: 2rem;
    padding: 2rem;
    height: 200px
}

.cursor {
    border-right: 2px solid var(--text);
    animation: cursorAnim 0.7s linear infinite;
}

.green {
    color: var(--green)
}

@keyframes cursorAnim {
    0% {
        border-right: 2px solid var(--text);
    }

    50% {
        border-right: 2px solid var(--background);
    }

    100% {
        border-right: 2px solid var(--text);
    }
}

.heroCarousel {
    display: flex;
    width: max-content;
    animation: scrolling 30s linear infinite;
    gap: 10px;
    background: var(--background--header);
}

.heroCarouselSlide {
    flex-shrink: 0;

}

.heroCarouselImage {
    display: block;
    width: 500px;
    height: auto;
}

.heroCarouselSlide::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 10px 10px 20px var(--background--header) inset, -10px -10px 20px var(--background) inset;
}

@keyframes scrolling {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .hero {
        width:768px;
        box-sizing: border-box;
    }
}