.hero {
    width: 100%;
    overflow: hidden;

}

.heroCarousel {
    display: flex;
    width: max-content;
    animation: scrolling 20s linear infinite;
    gap: 10px
}

.heroCarouselSlide {
    flex-shrink: 0;

}

.heroCarouselImage {
    display: block;
    width: 500px;
    height: auto;
}

.heroCarouselSlide::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 10px 10px 5px var(--background) inset, -10px -10px 5px var(--background) inset;
}

@keyframes scrolling {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}