.header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background);
    position: relative;
    z-index: 3;
    height:80px;
    font-family: "google sans code";
    }

.headerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    padding: 10px;
}

.headerH1{
    align-content: center;
    z-index: 3;
    font-size: x-large;
    font-weight: bolder;

}
.headerH1 a{

    color:var(--text);
    text-decoration: none;
}

.buttonOpen{
    border: none;
    padding: 5px;
    background-color: var(--background);
    cursor: pointer;
    box-sizing: border-box;
    font-family: "google sans code";
    font-size: 100%;
    font-weight: 900;
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    box-shadow: 0px 5px 10px black;
}

.headerNav{
    display: flex;
    flex-direction: column;
    align-items:  center;
    background-color: var(--background);
    z-index: 2;
    position: absolute;
    top:75px;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 900;
    border-bottom: 1px solid var(--border);
    box-shadow: 0px 10px 15px black;
    
}

.headerLink{
    text-decoration: none;
    padding: 5px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: "google sans code";
    color:var(--text)
}
.headerLink:hover , .buttonOpen:hover{
    background-color: var(--background--hover);
}

.openMenuBurger{
    transition: transform ease 0.5s;
}
.closeMenuBurger{
    transform: translateY(-130px);
    transition: transform ease 0.5s;
}