.section{
    max-width:800px;
    margin:0 auto;
    padding:2rem 2rem;
    display:flex;
    flex-direction:column;
    gap:1.8rem;
    opacity:0;
    transform:translateY(70px);
    transition:opacity 0.7s ease,transform 0.7s ease;
    position:relative;
    
}

.section::after{
    content:"";
    display:block;
    width:50%;
    height:1px;
    background:var(--green);
    margin-top:6px;

}
.isLast::after{
    background:none;
}

.sectionAnim{
    opacity:1;
    transform:translateY(0);
}

.section h2{
    font-size:clamp(2rem,4vw,3rem);
    font-weight:800;
    letter-spacing:-2px;
    line-height:1.1;
    position:relative;
    font-family:"google sans code"
}

.content{
    display: flex;
    flex-direction: column;
}

.section p{
    font-size:1.1rem;
    line-height:1.9;
    color:var(--text);
    max-width:750px;
}

.section p strong{
    color:var(--text);
}

@media (min-width:768px){
    .content{
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        align-items: stretch;
    }
}